.container {
  padding: 0 16px;
}
.pickTable {
  width: 100%;
  border-spacing: 0;
  position: relative;
  thead {
    position: sticky;
    top: 50px;
    z-index: 1;
  }
  td:not(:first-child) {
    text-align: right;
    font-size: 12px;
  }
  tr {
    height: 40px;
    &.active td {
      border: none;
      background-color: rgb(109, 23, 23);
    }
    &.viewed td {
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        transform: translateY(-50%);
        background-color: red;
      }
    }
    button {
      padding: 4px 8px;
      border-radius: 4px;
      border: none;
      background-color: #396aff;
      color: white;
      cursor: pointer;
      font-size: 12px;
    }
  }
  tbody tr td:first-child {
    font-size: 14px;
    font-weight: bold;
  }
}
